<Card Id="@Id" class="music-item user-select-none">
    <CardBody class="d-flex cursor-pointer interactive" @onclick="OnClick">
        <div class="me-3">
            @if (Image != null)
            {
                <img src="@Image" alt="@Title album cover" class="music-item-cover"/>
            }
            else
            {
                <div class="music-placeholder bg-body-secondary d-flex align-items-center justify-content-center">
                    <span class="fs-6 fw-bold text-center">No<br>cover</span>
                </div>
            }
        </div>
        <div>
            <CardTitle>@Title</CardTitle>
            <CardSubTitle>@Artist</CardSubTitle>
        </div>
    </CardBody>
    @if (ShowControls)
    {
        <CardFooter Class="d-flex flex-row align-items-center justify-content-between">
            <div>
                <StarRating Value="Rating" OnChange="newRating => OnNewRating.InvokeAsync(newRating)"/>
            </div>
            <div>

            </div>
            <div>
                <Icon
                    Class="cursor-pointer"
                    Name="IconName.Trash3Fill"
                    Color="IconColor.Danger"
                    Size="IconSize.x4"
                    @onclick="() => OnDelete.InvokeAsync()"/>
            </div>
        </CardFooter>
    }
</Card>

@code {

    [Parameter] public required string Id { get; set; }
    [Parameter] public required string Title { get; set; }
    [Parameter] public required string Artist { get; set; }
    [Parameter] public required EventCallback<int> OnNewRating { get; set; }
    [Parameter] public required EventCallback OnDelete { get; set; }
    [Parameter] public required int Rating { get; set; }
    [Parameter] public bool ShowControls { get; set; }
    [Parameter] public string? Image { get; set; }
    [Parameter] public required EventCallback<MouseEventArgs> OnClick { get; set; }

}
