@page "/admin/users"
@implements IAsyncDisposable
@attribute [Authorize(Roles = "Admin")]

@inject IDbContextFactory<MyEverythingListContext> DbFactory

@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using My_Everything_List.Data

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="admin/users/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.User">
    <PropertyColumn Property="user => user.Email"/>
    <PropertyColumn Property="user => user.Password"/>
    <PropertyColumn Property="user => user.Role"/>

    <TemplateColumn Context="user">
        <a href="@($"admin/users/edit?id={user.Id}")">Edit</a> |
        <a href="@($"admin/users/details?id={user.Id}")">Details</a> |
        <a href="@($"admin/users/delete?id={user.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private MyEverythingListContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
