@page "/login"

@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.EntityFrameworkCore
@using My_Everything_List.Data
@using My_Everything_List.Models.ViewModels

@inject IDbContextFactory<MyEverythingListContext> DbFactory
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Login</PageTitle>

<div>
    <h3 class="text-center mb-3">Login</h3>

    <EditForm Model="Model" OnValidSubmit="Authenticate" FormName="LoginForm">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <div class="form-floating mb-2">
            <InputText id="email" @bind-Value="Model.Email" type="email" class="form-control" placeholder=""/>
            <label for="email">Email</label>
            <ValidationMessage For="() => Model.Email" class="text-danger"/>
        </div>
        <div class="form-floating mb-2">
            <InputText id="password" @bind-Value="Model.Password" type="password" class="form-control" placeholder=""/>
            <label for="password">Password</label>
            <ValidationMessage For="() => Model.Password" class="text-danger"/>
        </div>
        <div>
            <span class="text=danger">@_errorMessage</span>
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </EditForm>
</div>


@code {
    [CascadingParameter] public HttpContext? HttpContext { get; set; }
    [SupplyParameterFromForm] public LoginViewModel Model { get; set; } = new();

    private string? _errorMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (authState.User.Identity?.IsAuthenticated ?? true)
        {
            Navigation.NavigateTo("/", replace: true);
        }
    }

    private async Task Authenticate()
    {
        await using var context = await DbFactory.CreateDbContextAsync();
        var userAccount = context.User.FirstOrDefault(user => user.Email == Model.Email);
        if (userAccount is null || userAccount.Password != Model.Password)
        {
            _errorMessage = "Incorrect credentials.";
            return;
        }

        var claims = new List<Claim>
        {
            new(ClaimTypes.NameIdentifier, userAccount.Id.ToString()),
            new(ClaimTypes.Email, userAccount.Email!),
            new(ClaimTypes.Role, userAccount.Role!)
        };

        var identity = new ClaimsIdentity(claims, CookieAuthenticationDefaults.AuthenticationScheme);
        var principal = new ClaimsPrincipal(identity);
        await HttpContext.SignInAsync(principal);
        Navigation.NavigateTo("/");
    }

}
