@page "/settings"
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Admin,User")]

@using Microsoft.AspNetCore.Authorization
@using My_Everything_List.Services.UserService

@inject IUserService UserService

<PageTitle>Settings</PageTitle>

<div class="container-fluid d-flex justify-content-between mb-3">
    <h3>Settings</h3>
</div>

<ul>
    <SettingsItem Title="Delete Account" OnClickCallback="DeleteAccount"/>
</ul>

<p>@_id</p>
<p>@_email</p>
<p>@_role</p>
