@page "/settings"
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Admin,User")]

@using Microsoft.AspNetCore.Authorization
@using My_Everything_List.Services.UserService

@inject IUserService UserService

<PageTitle>Settings</PageTitle>
<h3>Settings</h3>
<ul>
    <SettingsItem Title="Delete Account" OnClickCallback="DeleteAccount"/>
</ul>

<p>@_id</p>
<p>@_email</p>
<p>@_role</p>
